.App {
  color: white;
  text-align: center;
  background-color: gray;
  max-width: 600px;
  margin: auto;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  padding: 3%;
}

.buttons-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}

.display-container {
  width: 75%;
  margin-right: 5%;
}

.display-container > h2 {
  margin: 0;
}
#display {
  height: 0;
  padding-bottom: 20%;
}
